<footer>
            
        <div class="container">
            
            <div class="footer__bottom">
                    <div class="footer__credit">
                        <div class="footer__credit--title"><span class="nav-click"><i class="nav-arrow"></i></span>CÔNG TY CỔ PHẦN DỊCH VỤ THƯƠNG MẠI TỔNG HỢP Hoàng Gia Mart</div>
                        <div class="row footer__credit--content">

                            <div class="col-xs-12 col-md-4">
                                <p><br><strong>Hà Nội:</strong><br> Tower 2, Times City, 458 Minh Khai, Phường Vĩnh Tuy,<br> Quận Hai Bà Trưng, Thành Phố Hà Nội.</p>
                            </div>
                
                            <div class="col-xs-12"><p>Điện thoại: 0981.878.688.</p></div>
                        </div>
                    </div>
                </div>

                
                <div class="box_title">
                        <span>Địa Chỉ</span> Cửa Hàng
                    </div>
                
        </div>

    </footer>