.item-preview {
  text-align: center;
  height: 120px;
  width: 100px;
  background: #fff;
  float: left;
  margin-left: 10px; }

.item-preview img {
  max-height: 100%;
  max-width: 100%; }

#result {
  margin-left: 20px; }
  #result .item-result {
    line-height: 25px;
    cursor: pointer;
    list-style: none; }
    #result .item-result:hover {
      color: red; }

#category-tree a, #menu-tree a {
  text-decoration: none;
  color: #333; }
  #category-tree a.active, #menu-tree a.active {
    font-weight: bold; }

.tag-item {
  display: inline-block;
  color: black;
  font-weight: normal;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-shadow: 0 1px 2px #aaa;
  background: white;
  border-radius: 1.2rem !important;
  padding: 5px 18px;
  margin: 0 5px;
  border-radius: 4px;
  text-decoration: none !important; }

.tag-item.active {
  background: orangered; }
